<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php"
        color="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailures="false"
        syntaxCheck="false">
    <testsuites>
        <testsuite name="Global Test Suite">
            <directory>./tests/Maiden/Learn</directory>
        </testsuite>
    </testsuites>
</phpunit>